@import "tailwindcss";

/* =========================
   Fonts
========================= */

@font-face {
    font-family: "Crimson Text";
    src: url("../Fonts/Crimson_Text/CrimsonText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


/* =========================
   Default
========================= */

@layer base {
    img{
        width: 100%;
    }
}

/* =========================
   Container
========================= */
.container {
    @apply mx-auto px-5;
}

.container {
    width: 100%;

    @media (width >=40rem) {
        max-width: 40rem;
    }

    @media (width >=50rem) {
        max-width: 50rem;
    }

    @media (width >=64rem) {
        max-width: 64rem;
    }

    @media (width >=80rem) {
        max-width: 1200px;
    }

}

/* =========================
   Tailwind Theme
========================= */

@theme {
    /* Colors */
    --color-gray-custom: #929292;
    --color-light-gray: #E9E9E9;
    --color-olive: #485C11;
    --color-sage: #8E9C78;
    --color-light-green: #DFECC6;

    /* Shadow */
    --shadow-custom: 0 2px 8px 0 rgb(0 0 0 / 8%);
    --shadow-HeaderMenu-Mobile: 0 2px 4px rgba(0 0 0 / 0.05);

    /* Fonts */
    --font-crimson: "Crimson Text", serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-roboto-mono: "Roboto Mono", monospace;

    /* Break Point */
    --breakpoint-tablet: 50rem /* 800px */;
}

